<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js,
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "facebook-jssdk");
</script>
  <script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<div class="share-page">
  <p class="share-text">Share this on &rarr;</p>
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-size="large"
    data-show-count="false"
    style="margin-top:5px;"
    >Tweet</a>
  <a
    href="https://www.linkedin.com/sharing/share-offsite/?url=https://anachary.github.io/{{site.url}}{{page.url}}" 
    onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" 
    class="fab-share-button"
    data-size="large"
    data-layout="button"
    >
    <svg width="32" height="32" viewBox="0 0 24 24" fill="#1d9bf0" class="kn"><path d="M21 4.32v15.36A1.32 1.32 0 0 1 19.68 21H4.32A1.32 1.32 0 0 1 3 19.68V4.32A1.32 1.32 0 0 1 4.32 3h15.36A1.32 1.32 0 0 1 21 4.32zM8.3 9.9H5.65v8.47h2.63V9.9h.02zm.22-2.92A1.52 1.52 0 0 0 7 5.44h-.05a1.53 1.53 0 0 0 0 3.06 1.52 1.52 0 0 0 1.56-1.48v-.05zm9.82 6.24c0-2.56-1.63-3.54-3.23-3.54a3.02 3.02 0 0 0-2.67 1.37h-.08V9.87H9.87v8.48h2.65v-4.5a1.75 1.75 0 0 1 1.58-1.88h.1c.84 0 1.47.52 1.47 1.85v4.54h2.65l.02-5.14v-.01z" fill="currentColor"></path></svg>
  </a>
  <a
    class="fb-share-button"
    data-href="{{site.url}}{{page.url}}"
    data-size="large"
    data-layout="button"
  >Facebook</a>
</div>